Description=Run Airflow server

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=screen -dmS screen_airflow bash -c 'PATH/TO/SCRIPT/start-airflow.sh'
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target